<%= simple_form_for(@generic_asset) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% for section_renderer in @renderer.section_renderers.values %>
      <fieldset>
        <legend><%= section_renderer.label %></legend>

        <% for attribute_renderer in section_renderer.attribute_renderers.values %>
          <%= attribute_renderer.field(f) %>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
