<%= simple_form_for(@generic_asset) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% for section in @generic_asset.renderer.sections %>
      <fieldset>
        <legend><%= section.label %></legend>

        <% for attribute in section.attributes %>
          <%= attribute.field %>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
